.Rproj.user
.Rhistory
.RData
.Ruserdata
ignore/
analyses/archive/
analyses/analyses_cache/
analyses/analyses_files/
manuscript/archive/
manuscript/manuscript_files/
manuscript/manuscript.aux
manuscript/manuscript.fff
manuscript/manuscript.log
manuscript/manuscript.out
manuscript/manuscript.tex
manuscript/manuscript.docx
